Object oriented prormamming
-->it pheonomeon of working with real time entities will lead us to work with the concept name called object oriented program langauge as we are working real time entities the bulit in data types are not suffienct are enough to store the details of real world entities because the real world entities will have various types,properties,stuctures,functionalities are present  this all are not sutable to store are manipulate the information in built in data types so thats why we are going to use the user defined data type called class and object
through class and object we are creating our own structure and functionalities 
--> why oops?
to store the data in organized and classify the data to perform the functionalities to data in clear structure 
-->easy maintaince and manipulite the data
By using the oops we can reduce the code defauclty and code reusability 
oops following the four principles 
1)inheritance(aquairing the properties from one class to another class reduce the existing task and code repetation)
2)encapsilation(to provide the security to the data )
3)polymorfizim(code reusability,to perform the many task by using one interface)
4)abstraction(hiding the implemantation of logic)

In [13]:
class demo:
    a=10
    def he():
        m='hello'
        return m    
print(demo.a)
print(demo.he())

10
hello

In [3]:
# intialization of static states
class apple:
    a=100
    b=200
    c=300

class sample:
    pass
sample.a=100
sample.b=200
sample.c=300

class demo:
    pass
def create_static(cls):
    cls.a=100
    cls.b=200
    cls.c=300
create_static(demo)

class pen:
    def create(cls):
        cls.a=100
        cls.b=200
        cls.c=300
pen.create(pen)

class paper:
    @classmethod #decorating the method by the help of class method(dynamically it will assign the class address)
    def create(cls): #intialize the static inside the class by using classmethod decorator
        cls.a=100
        cls.b=200
        cls.c=300
paper.create()

In [4]:
print(apple.__dict__)
print(sample.__dict__)
print(demo.__dict__)
print(pen.__dict__)
print(paper.__dict__)

{'__module__': '__main__', 'a': 100, 'b': 200, 'c': 300, '__dict__': <attribute '__dict__' of 'apple' objects>, '__weakref__': <attribute '__weakref__' of 'apple' objects>, '__doc__': None}
{'__module__': '__main__', '__dict__': <attribute '__dict__' of 'sample' objects>, '__weakref__': <attribute '__weakref__' of 'sample' objects>, '__doc__': None, 'a': 100, 'b': 200, 'c': 300}
{'__module__': '__main__', '__dict__': <attribute '__dict__' of 'demo' objects>, '__weakref__': <attribute '__weakref__' of 'demo' objects>, '__doc__': None, 'a': 100, 'b': 200, 'c': 300}
{'__module__': '__main__', 'create': <function pen.create at 0x000001F306F61EE0>, '__dict__': <attribute '__dict__' of 'pen' objects>, '__weakref__': <attribute '__weakref__' of 'pen' objects>, '__doc__': None, 'a': 100, 'b': 200, 'c': 300}
{'__module__': '__main__', 'create': <classmethod(<function paper.create at 0x000001F306F63EC0>)>, '__dict__': <attribute '__dict__' of 'paper' objects>, '__weakref__': <attribute '__weakref__' of 'paper' objects>, '__doc__': None, 'a': 100, 'b': 200, 'c': 300}

In [6]:
class mobile:
    company_name='oneplus'
    tollno='180099911'
    os='oxygen os'
    usb_type='USB-C'
    case='clear case'
    sim_slot='hybrid'

class oneplus:
    @classmethod
    def create(cls):
        cls. company_name='oneplus'
        cls.tollno='180099911'
        cls.os='oxygen os'
        cls.usb_type='USB-C'
        cls.case='clear case'
        cls.sim_slot='hybrid'
oneplus.create()
print(mobile.__dict__)
print(oneplus.__dict__)

{'__module__': '__main__', 'company_name': 'oneplus', 'tollno': '180099911', 'os': 'oxygen os', 'usb_type': 'USB-C', 'case': 'clear case', 'sim_slot': 'hybrid', '__dict__': <attribute '__dict__' of 'mobile' objects>, '__weakref__': <attribute '__weakref__' of 'mobile' objects>, '__doc__': None}
{'__module__': '__main__', 'create': <classmethod(<function oneplus.create at 0x000001F306F62200>)>, '__dict__': <attribute '__dict__' of 'oneplus' objects>, '__weakref__': <attribute '__weakref__' of 'oneplus' objects>, '__doc__': None, 'company_name': 'oneplus', 'tollno': '180099911', 'os': 'oxygen os', 'usb_type': 'USB-C', 'case': 'clear case', 'sim_slot': 'hybrid'}

In [32]:
class mobile:
    company_name='oneplus'
    tollno='180099911'
    os='oxygen os'
    usb_type='USB-C'
    case='clear case'
    sim_slot='hybrid'
print(mobile.company_name,mobile.tollno,mobile.os,mobile.case)
mobile.os='ios'
mobile.case='black'

print(mobile.company_name,mobile.tollno,mobile.os,mobile.case)
class mobile1:
    company_name='oneplus'
    tollno='180099911'
    os='oxygen os'
    usb_type='USB-C'
    case='clear case'
    sim_slot='hybrid'
    @classmethod
    def dis(cls):

        print(cls.company_name,cls.tollno,cls.os,cls.case,cls.sim_slot) 
    @classmethod
    def mod(cls):
         cls.case='black'
         cls.sim_slot='esim'
mobile1.dis()        
mobile1.mod()
mobile1.dis()

oneplus 180099911 oxygen os clear case
oneplus 180099911 ios black
oneplus 180099911 oxygen os clear case hybrid
oneplus 180099911 oxygen os black esim

In [35]:
class mobile:
    company_name='oneplus'
    tollno='180099911'
    os='oxygen os'
    usb_type='USB-C'
    case='clear case'
    sim_slot='hybrid'
print(mobile.company_name,mobile.tollno,mobile.os,mobile.case)
mobile.os='ios'
del mobile.case
print(mobile.company_name,mobile.tollno,mobile.os)

oneplus 180099911 oxygen os clear case
oneplus 180099911 ios

In [1]:
class mobile:
    company_name='oneplus'
    tollno='180099911'
    os='oxygen os'
    usb_type='USB-C'
    case='clear case'
    sim_slot='hybrid'
    print(company_name,tollno,os,usb_type)
    del tollno
    print(company_name,os,usb_type)
class mobile1:
    company_name='oneplus'
    tollno='180099911'
    os='oxygen os'
    usb_type='USB-C'
    case='clear case'
    sim_slot='hybrid'
    @classmethod
    def dis(cls):

        print(cls.company_name,cls.tollno,cls.os,cls.case) 
    @classmethod
    def mod(cls):
         
         del cls.sim_slot
mobile1.dis()        
mobile1.mod()
mobile1.dis()
print(mobile.__dict__)

oneplus 180099911 oxygen os USB-C
oneplus oxygen os USB-C
oneplus 180099911 oxygen os clear case
oneplus 180099911 oxygen os clear case
{'__module__': '__main__', 'company_name': 'oneplus', 'os': 'oxygen os', 'usb_type': 'USB-C', 'case': 'clear case', 'sim_slot': 'hybrid', '__dict__': <attribute '__dict__' of 'mobile' objects>, '__weakref__': <attribute '__weakref__' of 'mobile' objects>, '__doc__': None}

In [14]:
class clg:
    clg_name='amrita'
    address='blr'
    landline=801465252
    clgcode='ASB0011'
    @classmethod
    def dis(cls):
        print('1:college name     :',cls.clg_name)
        print('2:college address  :',cls.address)
        print('3:college landline :',cls.landline)
        print('4:college code     :',cls.clgcode)
    @classmethod
    def mod(cls,name=int(input('enter the option'))):
        print('1:college name\n2:address\n3:landline\n4:code')
        match name:
            case 1:
                ele=input('enter the name')
                cls.clg_name=ele
            case 2:
                ele=input('enter the address')
                cls.address=ele
            case 3:
                ele=int(input('enter the landline'))
                cls.clg_name=ele
            case 4:
                ele=input('enter the code')
                cls.clg_name=ele    
            case _:
                print('EXIT')
                cls.mod()
clg.dis()
clg.mod()
clg.dis()

1:college name     : amrita
2:college address  : blr
3:college landline : 801465252
4:college code     : ASB0011
1:college name
2:address
3:landline
4:code
1:college name     : chadnu
2:college address  : blr
3:college landline : 801465252
4:college code     : ASB0011

In [4]:
class student:
    def create(self):
        self.name=input('enter the name')
        self.age=input('enter the age')
        self.number=int(input('enter the number'))
    @classmethod
    def dis(cls):
        print(student.create())
read=student
student.create(read)

ValueError: invalid literal for int() with base 10: ''

In [26]:
class person:
    def __init__(self,a,b,c):
        self.name=a
        self.age=b
        self.phone=c
sai=person('sai',23,998877555)
sowmya=person('mya',19,9988774477)
sai.__dict__
print(a)

NameError: name 'a' is not defined

In [ ]:
class bank:
    b_name='sbi'
    ifsc='sbin00033'
    address='hyd'
obj1=bank()
obj1.name='sai'
obj1.age=26
obj1.type_account='saving'
obj1.date='09-10-2021'

obj2=bank()
obj2.name='ran1'
obj2.age=27
obj2.type_account='current'
obj2.date='09-10-2011'

In [ ]:
obj3=bank()
obj4=bank()
def create(self,name,age,type,date):
    self.name=name
    self.age=age
    self.type=type
    self.date=date
create(obj3,'sai',26,'saving','09-02-21')
create(obj4,'rani',27,'saving','27-02-21')

In [14]:
class bank:
    b_name='sbi'
    ifsc='sbin00033'
    address='hyd'
    @classmethod
    def create2(self,name,age,type,date):
        self.name=name
        self.age=age
        self.type=type
        self.date=date
obj5=bank.create2('sai',26,'saving','09-11-2018')
obj6=bank.create2('rani',28,'current','09-03-2018')

In [15]:
class bank:
    b_name='sbi'
    ifsc='sbin00033'
    address='hyd'
    def __int__(self,name,age,type,date):
        self.name=name
        self.age=age
        self.type=type
        self.date=date
obj1=bank('rani',28,'current','09-03-2018')

TypeError: bank() takes no arguments

In [50]:
class bank1:
    b_name='sbi'
    ifsc='sbin00033'
    address='hyd'
    def __init__(self,name,age,type,date):
        self.name=name
        self.age=age
        self.type=type
        self.date=date
    def dis(self):
        print('name:',self.name) 
        print('age:',self.age) 
        print('type:',self.type)
        print('date:',self.date)
    def modify(self,name,ele):
        match name:
            case 'name':
                self.name=ele
            case 'age':
                self.age=ele
            case 'type':
                self.type=ele
            case 'date':
                self.date=ele
    def dele(self,name):
        match name:
            case 'name':
                del self.name
            case 'age':
              del   self.age
            case 'type':
               del  self.type
            case 'date':
               del  self.date
a=bank1('sai',26,'saving','20-10-2005')
bank1.b_name

'sbi'

In [49]:
print(a.__dict__)
a.dis()
a.modify('type','current')
a.dele('date')
a.dis()

{'name': 'sai', 'age': 26, 'type': 'saving', 'date': '20-10-2005'}
name: sai
age: 26
type: saving
date: 20-10-2005
name: sai
age: 26
type: current

AttributeError: 'bank1' object has no attribute 'date'

In [1]:
class SBI:
    b_name='sbi'
    ISFC='SBIN00018'
    address='hyd'
    no_of_cus=0
    details={}
    def __init__(self,name,age,phone,email,address,password):
        self.name=name
        self.age=age
        self.phone=phone
        self.email=email
        self.address=address
        self.password=password
        self.cus_incr()
        self.account='00123'+str(self.no_of_cus)
        self.c_bal=0
        self.add_details(self.account,self)
    @classmethod
    def cus_incr(cls):
        cls.no_of_cus+=1
    @classmethod
    def add_details(cls,key,value):
        cls.details[key]=value
        
        print('data is stored')
    @classmethod
    def display_details(cls):
        for i in cls.details:
            print(cls.details[i].__dict__)
    @classmethod
    def cus_login(cls):
        userid='001231'
        pwd='G@2021'
        for i in cls.details:
            res=cls.details[i].__dict__
            if (res['email']==userid or res['account']==userid) and res['password']==pwd:

                print('login successfully')
                n=eval(input('enter the option'))
                print('1:modify_email\n2:modify_phone\n3:deposit\n4:withdraw\n5:balance\n6:logout')
                match n:
                    case 1:
                        cls.modify_email(cls.details[i])
                    case 2:
                        cls.modify_phone(cls.details[i])
                    case 3:
                        cls.deposit(cls.details[i])
                    case 4:
                        cls.withdraw(cls.details[i])
                    case 5:
                        cls.balance(cls.details[i])
                    case 6:
                        return
        cls.cus_login()

        # return 'incorrect'
    def modify_email(self):
        if self.password==eval(input('enter the password')):
            self.email=eval(input('enter the email'))
        else:
            print('incorrect email and password')
    def modify_phone(self):
        if self.password==eval(input('enter the password')):
            self.phone=eval(input('enter the phone'))
        else:
            print('incorrect email and password')
    def deposit(self):
        # if self.account==eval(input('enter the account number')):
            n=int(input('enter the amount'))
            self.c_bal+=n
            print('transaction successful')
            print('balance ',self.c_bal)
    def withdraw(self):
        n=eval(input('enter the amount'))
        if self.c_bal>n:
            self.c_bal-=n
            print('transaction successful')
            print('your balance',self.c_bal)
        else:
            print('transaction transaction')            
            print('insuffienict balance')            

    def balance(self):
        print(self.c_bal)        
obj=SBI('chandu',26,9133711133,'chandu@gmail.com','HYD','G@2021')   
sobj=SBI('sowmya',22,7766112552,'mya@gmail.com','HYD','SvCs@2021')

data is stored
data is stored

In [15]:
sobj.__dict__

{'name': 'sowmya',
 'age': 22,
 'phone': 7766112552,
 'email': 'mya@gmail.com',
 'address': 'HYD',
 'password': 'SvCs@2021',
 'account': '001232',
 'c_bal': 0}

In [9]:
obj.no_of_cus

2

In [29]:
SBI.display_details()

{'name': 'chandu', 'age': 26, 'phone': 9133711133, 'email': 'chandu@gmail.com', 'address': 'HYD', 'password': 'G@2021', 'account': '001231', 'c_bal': 0}
{'name': 'sowmya', 'age': 22, 'phone': 7766112552, 'email': 'mya@gmail.com', 'address': 'HYD', 'password': 'SvCs@2021', 'account': '001232', 'c_bal': 0}

In [22]:
sobj.cus_login()

login successfully
1:modify_email
2:modify_phone
3:deposit
4:withdraw
5:balance
6:logout
transaction successful
balance  5000
login successfully
1:modify_email
2:modify_phone
3:deposit
4:withdraw
5:balance
6:logout
transaction successful
your balance 4000
login successfully
1:modify_email
2:modify_phone
3:deposit
4:withdraw
5:balance
6:logout

In [5]:
SBI.display_details()

{'name': 'chandu', 'age': 26, 'phone': 9133711133, 'email': 'chandu@gmail.com', 'address': 'HYD', 'password': 'G@2021', 'account': '001231', 'c_bal': 500}
{'name': 'sowmya', 'age': 22, 'phone': 7766112552, 'email': 'mya@gmail.com', 'address': 'HYD', 'password': 'SvCs@2021', 'account': '001232', 'c_bal': 0}

In [17]:
obj.cus_login()

login successfully
1:modify_email
2:modify_phone
3:deposit
4:withdraw
5:balance
login successfully
1:modify_email
2:modify_phone
3:deposit
4:withdraw
5:balance
login successfully

SyntaxError: invalid syntax (<string>, line 0)

In [40]:
obj.password

'G@2021'

In [38]:
class student:
    branch='CSE'
    college_n='amrita'
    code='AMT001'
    details={}
    def __init__(self,name,idno,phno,year,sem,sub1,sub1_m,sub2,sub2_m,sub3,sub3_m):
        self.name=name
        self.idno=idno
        self.phno=phno
        self.year=year
        self.sem=sem
        self.sub1=sub1
        self.sub1_m=sub1_m
        self.sub2=sub2
        self.sub2_m=sub2_m
        self.sub3=sub3
        self.sub3_m=sub3_m
    @classmethod
    def adddetails(cls,sub,sub_m):
        cls.details[sub]=sub_m
    @classmethod
    def display(cls):
        for i in cls.details:
            print(cls.details[i])
    # def totalmarks(cls):
    #     for i in cls.details:
    #         print(cls.details[i])
    #         sum=(cls.details)
    
stu1=student('chandu',17021,99887755,2021,4,'OOPS',35,'CL',40,'bigdata',70)
stu2=student('pranay',17023,9988775578,2023,4,'OOPS',50,'CL',40,'bigdata',50)
stu3=student('sowmya',17026,998875552,2023,4,'OOPS',80,'CL',90,'bigdata',60)

In [37]:
stu1.display()

{'IDno': 'CTS001', 'Emp_name': 'chandu', 'Emp_salary': 22350, 'Designation': 'system adminstrator'}
{'IDno': 'CTS002', 'Emp_name': 'pranay', 'Emp_salary': 27840, 'Designation': 'devops engineer'}

1:modify salary
2:modify designation
1:modify salary
2:modify designation

In [10]:
class instuite:
    name='IITM Instuite'
    address='HYD'
    code='IITM'
    def __init__(self,name,branch,roll,year,email,degree):
        self.name=name
        self.branch=branch
        self.roll=roll
        self.year=year
        self.email=email
        self.degree=degree
        var=branch[0:2]+degree[0:2].upper()+str(year)[2:]+roll[8:]+'@'+f'student.onlinedegree.{self.code}.ac.in'
        self.off_email=var

krishna=instuite('krishna','CSE','IITM-CS-7814',2023,'krishna@gmail.com','Btech')

In [11]:
krishna.__dict__

{'name': 'krishna',
 'branch': 'CSE',
 'roll': 'IITM-CS-7814',
 'year': 2023,
 'email': 'krishna@gmail.com',
 'degree': 'Btech',
 'off_email': 'CSBT237814@student.onlinedegree.IITM.ac.in'}

In [29]:
a='chanduae'
a.index('a')

2

In [74]:
class book:
    usn='USN154140000'
    info={}
    def __init__(self,title,author,price):
        self.title=title
        self.author=author
        self.price=price
        self.usn_change()
        self.usn=self.usn
        self.add_details(self.usn,self)
    @classmethod
    def usn_change(cls):
        cls.usn=book.usn[:-1]+str(int(book.usn[-1])+1)
    @classmethod
    def add_details(cls,key,value):
        cls.info[key]=value
    @classmethod
    def display(cls):
        for i in cls.info:
            print(cls.info[i].__dict__)
    @classmethod
    def view(cls):
        print('1:bookname\n''2:author\n''3:price')
        for i in cls.info:
            print(i)
            res=cls.info.__dict__
            n=eval(input('enter the number for the info'))
            match n:
                case 1:
                    print ('the book name is',res['title'])
                case 2:
                    print ('the author is',res['author'].upper())
                case 3:
                    print ('the price',res['price'])
        
    
scam1992=book('thescam1992','Suchitha Dala',870)

In [75]:
display()

thescam1992
Suchitha Dala
870
USN154140001