In [ ]:
import sqlite3
conect=sqlite3.connect('chandu.db')
cus=conect.cursor()
def create(conect,cus):
    cus.execute("create table emp(id int,name varchar(50),age int,email varchar(50),phone int,gender varchar(50))")
    print("query ok %s rows affected,%(cus.rowcount)" )
    conect.commit()
create(conect,cus)

In [ ]:
import sqlite3
conect=sqlite3.connect('chandu.db')
cus=conect.cursor()
def insert(conect,cus):
    cus.execute("insert into emp(id ,name ,age ,email ,phone ,gender) values (?,?,?,?,?,?)",(1,'cherry',25,'cherry@gmail.com',91866562566,'male'))
    print(f"query ok  rows affected",(cus.rowcount) )
    conect.commit()
# insert(conect,cus)
def delete(conect,cus):
    cus.execute('delete from emp where id=1')
    print(f"query ok  rows affected",(cus.rowcount) )
    conect.commit()
delete(conect,cus)

In [ ]:
def dbconnection(func):
    def inner(*args,**kwargs):
        import sqlite3
        dbconn=sqlite3.connect('student.db')
        cus=dbconn.cursor()
        res=func(dbconn,cus,*args,**kwargs)
        dbconn.commit()
        dbconn.close()
        return res
    return inner
@dbconnection
def creat(dbconn,cus):
    cus.execute("create table student(id int,name varchar(20),age int,email varchar(50),phone int)")
@dbconnection
def inser(dbconn,cus):
    cus.execute("insert into student(id ,name ,age ,email ,phone) values (?,?,?,?,?)",(1,'cherry',25,'cherry@gmail.com',91866562566))
@dbconnection
def updare(dbconn,cus):
    cus.execute('update table student where id=2 (name) values(?)',('cherry'))
@dbconnection
def select(dbconn,cus):
    cus.execute('select * from student')
    res=cus.fetchall()
    for i in res:
        print(i)
@dbconnection
def delete(dbconn,cus):
    cus.execute('delete table student where id=2')

In [5]:
withdrawl()

(13130012633, 'cherry', 'cherry@gmail.com', 'cherryC@2021', 9133711133, 'icic001122', 2400)
2400
(1231456214821, 'sekhar', 'sekhar@gmail.com', 'sekhar@2021', 96657741462, 'icic001122', 1500)