In [1]:
import pymysql
conect=pymysql.connect(db=chandu)
cus=conect.cursor
def create(conect,cus):
    cus.execute("create table emp(id int,name varchar(50),age int,email varchar(50),phone int,gender varchar(50))")
    print("query ok %s rows affected,%(cus.rowcount)" )
    conect.commit()
create(conect,cus)

NameError: name 'chandu' is not defined