In [ ]:
import sqlite3
conect=sqlite3.connect('chandu.db')
cus=conect.cursor()
def create(conect,cus):
    cus.execute("create table emp(id int,name varchar(50),age int,email varchar(50),phone int,gender varchar(50))")
    print("query ok %s rows affected,%(cus.rowcount)" )
    conect.commit()
create(conect,cus)

In [ ]:
import sqlite3
conect=sqlite3.connect('chandu.db')
cus=conect.cursor()
def insert(conect,cus):
    cus.execute("insert into emp(id ,name ,age ,email ,phone ,gender) values (?,?,?,?,?,?)",(1,'cherry',25,'cherry@gmail.com',91866562566,'male'))
    print(f"query ok  rows affected",(cus.rowcount) )
    conect.commit()
# insert(conect,cus)
def delete(conect,cus):
    cus.execute('delete from emp where id=1')
    print(f"query ok  rows affected",(cus.rowcount) )
    conect.commit()
delete(conect,cus)

In [ ]:
def dbconnection(func):
    def inner(*args,**kwargs):
        import sqlite3
        dbconn=sqlite3.connect('student.db')
        cus=dbconn.cursor()
        res=func(dbconn,cus,*args,**kwargs)
        dbconn.commit()
        dbconn.close()
        return res
    return inner
@dbconnection
def creat(dbconn,cus):
    cus.execute("create table student(id int,name varchar(20),age int,email varchar(50),phone int)")
@dbconnection
def inser(dbconn,cus):
    cus.execute("insert into student(id ,name ,age ,email ,phone) values (?,?,?,?,?)",(1,'cherry',25,'cherry@gmail.com',91866562566))
@dbconnection
def updare(dbconn,cus):
    cus.execute('update table student where id=2 (name) values(?)',('cherry'))
@dbconnection
def select(dbconn,cus):
    cus.execute('select * from student')
    res=cus.fetchall()
    for i in res:
        print(i)
@dbconnection
def delete(dbconn,cus):
    cus.execute('delete table student where id=2')

In [168]:
def dbconnection(func):
    def inner(*args,**kwargs):
        import sqlite3
        dbconn=sqlite3.connect('bank.db')
        cus=dbconn.cursor()
        res=func(dbconn,cus,*args,**kwargs)
        dbconn.commit()
        dbconn.close()
        return res
    return inner
@dbconnection
def create_bank(dbconn,cus):
    cus.execute('create table bank(accountnumber int(12),name varchar(20),email varchar(30),password varchar(16),phone int,IFSC varchar(10),balance int)')
@dbconnection
def inser(dbconn,cus):
    cus.execute("insert into bank(accountnumber,name,email,password,phone,IFSC,balance) values (?,?,?,?,?,?,?)",(1231456214821,'sekhar','sekhar@gmail.com','sekhar@2021',96657741462,'icic001122',1500))
@dbconnection
def deposit(dbconn,cus):
    accountnumber=eval(input('enter the account number'))
    cus.execute('select * from bank')
    res=cus.fetchall()
    for i in res:
        print(i)
        if i[0]==accountnumber:
            da=i[-1]
            amount=[da+eval(input('enter the amount')),i[0]]
            cus.execute('update bank set balance=? where accountnumber=?',amount)
            cus.execute('insert into trans(accountnumber,name,status,balance) values (?,?,?,?)',(i[0],i[1],'D',amount[0]))
@dbconnection
def withdrawl(dbconn,cus):
    accountnumber=eval(input('enter the account number'))
    passowrd=eval(input('enter the password'))
    cus.execute('select * from bank')
    res=cus.fetchall()
    for i in res:
        print(i)
        if i[0]==accountnumber and i[3]==passowrd:
            print(i[-1])
            wa=eval(input('enter the withdrawl ammount'))
            if wa<=i[-1]:
                wa=i[-1]-wa
                amount=[wa,i[0]]
                cus.execute('update bank set balance=? where accountnumber=?',amount)
                cus.execute('insert into trans(accountnumber,name,status,balance) values (?,?,?,?)',(i[0],i[1],'W',amount[0]))
@dbconnection
def dis(dbconn,cus):
    accountnumber=eval(input('enter the account number'))
    passowrd=eval(input('enter the password'))
    cus.execute('select * from bank')
    res=cus.fetchall()
    for i in res:
        if i[0]==accountnumber and i[3]==passowrd:
            print(i)
@dbconnection
def update(dbconn,cus):
    accountnumber=eval(input('enter the account number'))
    passowrd=eval(input('enter the password'))
    cus.execute('select * from bank')
    res=cus.fetchall()
    for i in res:
        if i[0]==accountnumber and i[3]==passowrd:
            print('1.update phone\n2.update email')
            n=eval(input('enter the number'))
            match n:
                case 1:
                    phone=eval(input('enter the phone'))
                    update=[phone,i[0]]
                    cus.execute('update bank set phone=? where accountnumber=?',update)
                case 2:
                    update=[eval(input('enter the email')),i[0]]
                    cus.execute('update bank set email=? where accountnumber=?',update)
@dbconnection
def creat_tid(dbconn,cus):
    cus.execute('create table trans(accountnumber int(12),name varchar(20),status varchar(15),balance int,id int AUTO INCREMENT PRIMARY KEY)')

In [169]:
creat_tid()

OperationalError: table trans already exists